.prompt-card {
  min-height: 4rem;
  border: 1px dotted black;
  margin: 1rem;
  width: 50%;
  border-radius: 5px;
}

.prompt-title {
  border-bottom: 1px solid black;
}

.prompt-body {
  width: 100%;
  min-height: 3rem;
}
